[submodule "pack/plugins/start/vim-eunuch"]
	path = pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/plugins/start/vim-sensible"]
	path = pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
	branch = master
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-signature"]
	path = pack/plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/plugins/start/vim-mustache-handlebars"]
	path = pack/plugins/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/start/terminus"]
	path = pack/plugins/start/terminus
	url = https://github.com/wincent/terminus
[submodule "pack/plugins/start/nova-vim"]
	path = pack/plugins/start/nova-vim
	url = https://github.com/trevordmiller/nova-vim
[submodule "pack/plugins/start/easymotion"]
	path = pack/plugins/start/easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "pack/plugins/start/papercolor-theme"]
	path = pack/plugins/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "pack/plugins/start/ranger"]
	path = pack/plugins/start/ranger
	url = https://github.com/francoiscabrol/ranger.vim
[submodule "pack/plugins/start/vim-colors-solarized"]
	path = pack/plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/plugins/start/coc"]
	path = pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/plugins/start/vim-vinegar"]
	path = pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/plugins/start/vim-code-dark"]
	path = pack/plugins/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/vim-obsession"]
	path = pack/plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/plugins/start/vim-prosession"]
	path = pack/plugins/start/vim-prosession
	url = https://github.com/dhruvasagar/vim-prosession.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
